@inherits LayoutComponentBase
<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
            <a href="https://panetdigital.github.io/Panet/" target="_blank">Sobre</a>
        </div>

        <article class="content px-4 h-100">
            @Body
        </article>

        <Footer /> <!-- Adicione o Footer aqui -->
    </main>
</div>
