@* Footer.razor *@]
@using AppFinancia.Pages
<footer class="footer">
    
        <div class="footer-content">
        
        <p class="texto-branco">
            &copy; 2024 Panet. Todos os direitos reservados.<br>
            Desenvolvido por equipe:
            <span class="equipe"> Alef Felipe Santos & Sherif Beko Panda <br></span>
            Contato: cherifbekopanda@gmail.com
        </p
          
        </div>
   
</footer>

<style>
    .equipe {
    font-weight: bold; /* Torna o nome da equipe em negrito */
    }
    .texto-branco {
     color: white;
     background-color: transparent;
    }
    .footer {
        background-color: #072f57;
        padding: 1rem;
        text-align: center;
        position: ;
        bottom: 0;
        width: 100%;
        height: 300px;
        border-top: 1px solid #e0e0e0;
         color: #49e456;
    }
    .footer-content {
        margin-bottom: 1rem;
         color: #f7f1f1;
        margin: 0 0.5rem;
        font-size: 1rem;
    }
    .social-media a {
        text-decoration: none;
        color: #f7f1f1;
        margin: 0 0.5rem;
        font-size: 1rem;
    }
    .social-media i {
        margin-right: 0.5rem;
    }
</style>
